body {
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adiciona gradiente de preto a branco */
  background: linear-gradient(to bottom, #000000, #1A1A1A);
}

#audio-container {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

#audio-button {
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* New Title Hover */
.text {
  font-family: "Roboto";
  color: #f0f0f0;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  bottom: 10px;
  text-align: center;
  user-select: none;
  transform: scale(1.1);
  z-index: 1;

  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 30px;

    .letter {
      transition: ease-out 0.3s;
      /* Distância entre os títulos */
      transform: translateY(40%);
    }

    .shadow {
      transform: scale(1.1, -1.1);
      color: #414141cc;
      transition: ease-in 0.1s, ease-out 0.1s;
    }

    &:hover {
      .letter {
        transform: translateY(-30%);
      }

      .shadow {
        opacity: 0;
        transform: translateY(30%);
      }
    }
  }
}


/* Botão pausa */
.pause-button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 380px;
  /* Ajuste conforme necessário */
  left: 70px;
  /* Ajuste conforme necessário */
  padding: 8px 26px;
  background-color: #4CAF50;
  /* Cor de fundo do botão */
  color: white;
  /* Cor do texto do botão */
  border: none;
  /* Remove a borda */
  border-radius: 5px;
  /* Borda arredondada */
  cursor: pointer;
  /* Mostra o cursor como ponteiro ao passar sobre o botão */
  font-size: 14px;
  /* Tamanho da fonte */
  width: 95px;
  /* Largura fixa do botão */
  text-align: center;
  /* Centralizar o texto */
}

/* Botão reinicia */
.restart-button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 440px;
  /* Ajuste conforme necessário */
  left: 62px;
  /* Ajuste conforme necessário */
  padding: 8px 26px;
  background-color: #4CAF50;
  /* Cor de fundo do botão */
  color: white;
  /* Cor do texto do botão */
  border: none;
  /* Remove a borda */
  border-radius: 5px;
  /* Borda arredondada */
  cursor: pointer;
  /* Mostra o cursor como ponteiro ao passar sobre o botão */
  font-size: 14px;
  /* Tamanho da fonte */
}

.pause-button:hover,
.restart-button:hover {
  background-color: #45a049;
  /* Altera a cor de fundo quando o botão é passado com o mouse */
}

/* Estilo quando pressionado */
.pause-button:active,
.restart-button:active {
  background-color: #50bb56;
  /* Cor de fundo mais escura */
}


/* Estilo do botão dropdown */
.dropdown {
  position: absolute;
  top: 15px; /* Distância do topo */
  left: 15px; /* Distância da esquerda */
}

.dropdown-btn {
  background-color: transparent; /* Fundo transparente */
  border: none;
  cursor: pointer;
}

/* Estilo do dropdown conteúdo */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 260px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 9999;
  border-radius: 5px;
}

.dropdown-content p {
  padding: 10px;
  margin: 0;
  z-index: 9999;
}

/* Mostrar o dropdown conteúdo quando o botão é clicado */
.dropdown-btn:focus + .dropdown-content {
  display: block;
}

/* Estilo do ícone de joystick */
.icon {
  width: 25px;
  height: 25px;
}


#instructionText {
  font-size: 12px;
  text-align: left;
  margin-bottom: 0px;
  color: #252525;
}


a:visited {
  color: #eeeeee;
}

footer {
  margin-top: 20px;
  margin-bottom: -10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #f0f0f0;
}


.colorgenerator {
  color: #abe5ff;
}


/* Adicione estilos específicos para a landing page aqui */
.overlay {
  background-image: url('https://raw.githubusercontent.com/cometsinthesky/pulsar-3D/main/images/landingbackground.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
}

.landing-content {
  color: #f0f0f0;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.enter-button {
  background-color: #45a049;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  transition: background-color 1s ease, transform 0.5s ease; /* Transições aplicadas a ambos os estados */
}

.enter-button:hover {
  background-color: #4CAF50;
  transform: scale(1.03);
}

.enter-button:active::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 1%; /* Adiciona uma borda circular ao efeito de clique */
  background-color: rgba(255, 255, 255, 0.5); /* Adiciona um efeito de clique semi-transparente */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.1s; /* Adiciona uma transição suave para o efeito de clique */
}

.enter-button:active::after {
  transform: scale(1); /* Aumenta o tamanho do efeito de clique ao clicar */
  opacity: 1; /* Torna o efeito de clique visível */
}


.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}


.hidden {
  display: none;
}

#threejs-container {
  cursor: pointer;
  /* Muda o cursor para uma mão quando o mouse estiver sobre o elemento com o ID 'threejs-container' */
}

/* Adiciona menu, sliders e selectors */
.menu {
  position: absolute;
  top: 280px;
  right: 20px;
  width: 170px;
  height: 340px;
  background-color: rgba(32, 32, 32, 0.6);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for maior que a altura */
  opacity: 0.9;
}

.slider {
  margin-bottom: 20px;
  opacity: 0.9;
}

.slider label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  opacity: 0.9;
  font-size: 14px;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #f0f0f0;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
}

.slider input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
}

/* CSS para a legenda dos valores */
.legend {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.legend span {
  font-size: 10px; /* Tamanho da fonte */
  padding: 7.5px; /* Espaçamento interno */
}


.checkboxes label {
  display: block;
  margin-bottom: 10px;
  opacity: 0.8;
}

.checkboxes input[type="checkbox"] {
  display:();
}

.checkboxes input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkboxes input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  opacity: 0.7;
}

.checkboxes input[type="checkbox"]:checked + label:before {
  background-color: #4CAF50;
}

.checkboxes input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.checkboxes input[type="checkbox"]:checked + label:after {
  display: block;
}

.menu.hidden,
.slider.hidden,
.checkboxes.hidden {
    display: none;
}





